---
title: Clever Therapist
---


<div class="header">
  </div>
  
<div>
  <h1>Welcome to Clever Therapist!</h1>
  <h2>This site is under construction.</h2> 
  <h2>When it's done, this will be a great place 
  for therapists (Occupational, Physical, Speech etc) to share and learn.</h2> 
</div>

<div>
  <h2>In the meantime, please visit <a href="http://otequip.info">OT Equipment Info.</h2>
  <p>Don't let the name be misleading, Physiotherapists and other non-Occupational Therapists welcome.</p>
</div>